<% @post.comments.each do |comment| %>
<div class="well span8">
<%= comment.body %>
on <%= link_to comment.post.title, post_path(comment.post) %> 
<p>Created by: <%= link_to comment.user.username, '' %> at <%= display_datetime(comment.created_at) %>
</div>