<h3>Welcome!</h3>

<p>This is the Postit template. You've accessed the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>

<h3>All Posts are shown below</h3>
<br>

<br>
<br>
<br>

<% @posts.each do |post| %>
<div class="row">
	<div class="span8 well">
		<%= render post.categories %> 
		<h5> <%= link_to post.title, post_path(post) %></h5> 
		<p><%= link_to post.url, fix_url(post.url) %></p> 

</div>
</div>
<% end %>
   


