<h3>Welcome!</h3>

<p>This is Postit!, a friendly community committed to communication and dialogue. Feel free to participate. :)</p>

<h3>All Posts are shown below</h3>
<br>

<br>
<br>
<br>

<% if false %>
<% @posts.each do |post| %>
<div class="row">
	<div class="span8 well">
		<%= render post.categories %> 
		<h5> <%= link_to post.title, post_path(post) %></h5> 
		<p><%= link_to post.url, fix_url(post.url) %></p> 

</div>
</div>
<% end %>
<% end %>


<% @posts.each do |post| %>
  <%= render 'post', post: post %>
<% end %>




   


